name: Run cryptoicons automation

on:
  push:
    paths:
      - SVG/**

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo content
        uses: actions/checkout@v3 # checkout the repository content to github runner

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9" # install the python version needed

      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: get latest changes
        run: |
          git pull

      - name: execute py script
        run: python main.py

      - name: commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git diff-index --quiet HEAD || (git commit -a -m "Converted latest SVG to PNG" --allow-empty)

      - name: push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: master

      - name: Push icons to cryptofont-web
        uses: dmnemec/copy_file_to_another_repo_action@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.ACTION_TOKEN }}
        with:
          source_file: "SVG/*.svg"
          destination_repo: "Cryptofonts/cryptofont-web"
          destination_folder: "img/icons"
          user_email: "action@github.com"
          user_name: "GitHub Action"
          commit_message: "Merged icons from cryptoicons repo"
